{% extends 'base.html' %}

{% block title %}GeekBlog{% endblock %}

{% block body %}

    <h1 class="h1 text-center mb-5 mt-3">Новые статьи:</h1>

    <div class="d-flex flex-row justify-content-around">
        {% for article in new_articles[::-1] %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">{{ article.attributes.title }}</h4>
                    <p class="card-text">{{ article.attributes.text[:50] }}...</p>
                    <div class="text-secondary fst-italic mb-3 fs-6">{{ article.attributes.created_at }}</div>
                    <a href="{{ url_for('article_app.get_article', pk=article.id) }}" class="card-link text-decoration-none">Читать</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
