<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/geekblog.css') }}">
    {% endblock %}
</head>
<body>
{% include 'navbar.html' %}

<div class="container">
    {% block body %}
    {% endblock %}
</div>

{% include 'footer.html' %}

{% block js %}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
{% endblock %}

</body>
