<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">GeekBlog</a></li>
                <li><a href="{{ url_for('author.author_list') }}" class="nav-link px-2 text-white">Авторы</a></li>
                {#                <li><a href="{{ url_for('post.post_list') }}" class="nav-link px-2 text-white">Статьи</a></li>#}
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-light" placeholder="Поиск..."
                       aria-label="Search">
            </form>

            <div class="text-end">
                {% if current_user.is_authenticated %}
                    {% if current_user.author %}
                        <a class="me-2 text-decoration-none text-light" href="#">
                            Написать статью
                        </a>
                    {% else %}
                        <a class="me-2 text-decoration-none text-light" href="{{ url_for('author.create') }}">
                            Стать автором
                        </a>
                    {% endif %}

                    <a class="btn btn-outline-light me-2" href="{{ url_for('auth.logout') }}">
                        Выход ({{ current_user.first_name if current_user.first_name else current_user.email }})
                    </a>
                {% else %}
                    <a class="btn btn-outline-light me-2" href="{{ url_for('auth.login') }}">Вход</a>
                    <a class="btn btn-warning" href="{{ url_for('auth.registration') }}">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>